@import "tailwindcss";



@theme {
    --color-primary: #44474E;
    --color-op0: #66696E;
    --color-op1: #B2B1B4;
    --color-op2: #C5C3C9;
    --color-bg1: #F1F1F5;
    --color-secondary: #F9F7FA;


    --breakpoint-xs: 480px;
    --breakpoint-xsmin: 400px;
    --breakpoint-xs430: 430px;
    --breakpoint-noxs480: (max-width: 480px);
    --breakpoint-xs550: 550px;
    --breakpoint-noxs550: (max-width: 550px);
    --breakpoint-xs658: 658px;
    --breakpoint-noxs658: (max-width: 658px);
    --breakpoint-xs750: 750px;
    --breakpoint-noxs750: (max-width: 750px);
    --breakpoint-xs850: 850px;
    --breakpoint-xs1000: 1000px;
    --breakpoint-noxs1000: (max-width: 1000px);
    --breakpoint-xs1167: 1167px;
    --breakpoint-noxs1167: (max-width: 1167px);
    --breakpoint-xs1350: 1350px;
    --breakpoint-noxs1350: (max-width: 1350px);
    --breakpoint-xs1500: 1500px;
    --breakpoint-noxs1500: (max-width: 1500px);
    --breakpoint-xs1700: 1700px;
    --breakpoint-noxs1700: (max-width: 1700px);
    --breakpoint-xs1900: 1900px;
    --breakpoint-noxs1900: (max-width: 1900px);

    
    --breakpoint-exl: (max-width: 1535px);
    --breakpoint-xl: (max-width: 1279px);
    --breakpoint-lg: (max-width: 1024px);
    --breakpoint-ll: (max-width: 900px);
    --breakpoint-md: (max-width: 767px);
    --breakpoint-sm: (max-width: 600px);
    --breakpoint-sw: (max-width: 500px);
    --breakpoint-mb: (max-width: 425px);
}


@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SF-Pro-Display-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SF-Pro-Display-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SF-Pro-Display-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SF-Pro-Display-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SF-Pro-Display-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SF-Pro-Display-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}